<template>
  <a :class="computedClass" @click="onClick" :href="to" :target="linkTarget" style="white-space: nowrap;">
    <slot>{{ to }}</slot><span v-if="isButton && showIcon"> <fa icon="external-link-square-alt" /></span>
  </a>
</template>

<script>
export default {
  name: 'externalLink',

  inject: ['fullStory'],

  props: {
    to: {
      required: true,
      type: String
    },
    gaRef: {
      required: false,
      type: String
    },
    stylization: {
      required: false,
      type: String,
      default() {
        return null;
      }
    },
    showIcon: {
      required: false,
      type: Boolean,
      default: true
    },
    onClickCallback: {
      required: false,
      type: Function,
      default() {
        return () => {};
      }
    }
  },

  methods: {
    onClick() {
      this.fullStory.event('ExternalLinkClicked', { event_category_str: this.$route.name, to_str: this.gaRef || this.to });
      this.onClickCallback();
    }
  },
  computed: {
    isButton() {
      return this.stylization === 'button';
    },

    computedClass() {
      return this.isButton ? 'btn btn-sm btn-default' : '';
    },

    linkTarget() {
      if (this.to.startsWith('http://') || this.to.startsWith('https://') || this.to.startsWith('mailto:')) {
        return '_blank';
      }
      return '_self';
    }
  }
};
</script>

<style lang="scss" scoped>
  .fa-external-link-square {
    margin-left: 0.5rem;
    padding-right: 0;
  }
</style>
