<template>
  <img v-bind:class="pageCenter ? 'centered' : 'inline'" :style="styles" src="../../assets/images/spinner.svg" alt="loading" />
</template>

<script>
export default {
  name: 'LoaderComponent',
  props: {
    size: {
      type: String,
      required: false,
      default: () => 'large',
      validator(val) {
        return val.match(/^\d+px$/) || ['large', 'medium', 'small', 'full'].includes(val);
      }
    }
  },
  computed: {
    spinnerSize() {
      if (this.size.match(/^\d+px$/)) {
        return this.size;
      }

      let result = '';
      switch (this.size) {
        case 'small':
          result = '19px';
          break;
        case 'medium':
          result = '38px';
          break;
        case 'large':
          result = '76px';
          break;
        case 'full':
          result = '100%';
          break;
        default:
          result = '76px';
          break;
      }
      return result;
    },

    pageCenter() {
      return this.size === 'large';
    },

    styles() {
      return {
        height: this.spinnerSize
      };
    }
  }
};
</script>

<style lang="scss" scoped>
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 9999;
  }

  .inline {
    margin: auto;
    display: inline-block;
  }
</style>
