<template>
  <div :class="{ fixed: pageLoader, centered: !pageLoader }">
    <fa class="spinner" icon="spinner" size="3x" spin />
  </div>
</template>

<script>

export default {
  name: 'StaticSpinner',

  props: {
    pageLoader: {
      type: Boolean,
      required: false,
      default: () => false
    }
  }
};
</script>

<style lang="scss" scoped>
  .fixed {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 9999;
  }
  .centered {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .spinner {
    color: $dark;
  }
</style>
