.custom-control {
  z-index: unset !important;
}
.custom-checkbox > *, .custom-radio > * {
  &:first-child:not(:disabled) {
    cursor: pointer;
    + * {
      cursor: pointer;
    }
  }
}

.badge {
  font-weight: unset !important;
}

.btn-primary {
  color: #fff !important;
}

.btn.btn-info {
  border-color: #d1dee4;
}

.time-picker .display-time, .multiselect:not(:disabled) {
  cursor: pointer;
}

// Match btn border-radius
.multiselect {
  border-radius: 0.25rem;
  .multiselect__tags {
    border-radius: 0.25rem;
  }
}

.multiselect__tag {
  // background: transparent !important;
  color: $secondary;
  border: 1px solid transparent;
  background: $primary !important;
  // margin-bottom: 0;
}

.multiselect__option--highlight, .multiselect__option--selected.multiselect__option--highlight {
  background: $secondary;
  &:after {
    background: $secondary;
  }

  & span {
    color: $light !important;
  }
}

.multiselect__tags {
  border-radius: 2px;
  border: 1px solid #ced4da;
}

.multiselect__tag-icon {
  border-left: 1px solid transparent;

  &:hover {
    background: transparent !important;
    border: 1px solid #ced4da !important;

    &:after {
      color: inherit !important;
    }
  }

  &:after {
    color: unset !important;
  }
}

.b-form-timepicker .bi-circle-fill.b-icon.bi {
  height: 0.6em;
}

.b-skeleton-text {
  margin-bottom: unset !important;
}

.tooltip.b-tooltip {
  opacity: 1 !important;
}

@media screen and (max-width: 576px) {
  .tooltip.b-tooltip {
    display: none !important;
  }
}

.alert {
  margin-bottom: 0 !important;
}
