// Bootstrap theme-color variables: https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss
$primary: #ff9343;
$secondary: #3e5a67;
$dark: #2d434d;
$horizon: #5e889c;
$light: #fafcfc;
$gray: #f3f7f8;
$info: #e9eff2;
$embossed: #A9D2E9; // inside panel color - "don't pay attention to this element"
$danger: #ed5167;
$highlight: #007791;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "dark": $dark,
  "horizon": $horizon,
  "light": $light,
  "info": $info,
  "danger": $danger,
  "highlight": $highlight
);

$font: 'Lato', sans-serif;


// Use in javascript simply by `import colors from '../styles/_vars.scss` and reference by `colors.primary`
:export {
  primary: $primary;
  secondary: $secondary;
  dark: $dark;
  horizon: $horizon;
  light: $light;
  gray: $gray;
  info: $info;
  embossed: $embossed;
  // border: $border;
  // highlight: $highlight;
  success: #28a745;
  danger: $danger;
  warning: #ffc107;
}
