<template>
  <div class="alert notification" :class="`alert-${alert.alertType}`">
    <button v-on:click="hideAlert()" type="button" class="close">&times;</button>
    <h5>{{ alert.message }}</h5>
    <span v-show="alert.details"><span v-html="alert.details"></span></span>
  </div>
</template>

<script>
export default {
  name: 'AlertComponent',

  inject: ['alertHandler'],

  props: {
    alert: {
      type: Object,
      required: true
    }
  },

  methods: {
    onCreated() {
      if (this.alert.timeoutInMs > 0) {
        setTimeout(() => this.hideAlert(), this.alert.timeoutInMs);
      }
    },
    hideAlert() {
      this.alertHandler.removeSpecificAlert(this.alert);
    }
  }
};
</script>
