<template>
  <div id="error-snackbar">
    <transition name="snackbar" appear>
      <alert v-if="storedAlert" class="snackbar-item" :alert="storedAlert" :key="storedAlert.alertId"/>
    </transition>
  </div>
</template>

<script>
import Alert from './alert';

export default {
  name: 'AlertSnackbar',

  inject: ['sessionStore'],

  components: {
    Alert
  },

  data() {
    return {
      alerts: []
    };
  },

  computed: {
    storedAlert() {
      return this.sessionStore.state.alert;
    }
  }
};
</script>

<style lang="scss">
  #error-snackbar {
    position: absolute;
    top: 7rem;
    left: 50%;
    z-index: 99999;
    transform: translate(-50%, 0);
    min-width: min(500px, 90vw);
    max-width: 90vw;
  }
  .snackbar-item {
    transition: all .5s;
    padding: 1rem 30px;
  }
  .snackbar-enter {
    opacity: 0;
    transform: translateY(-120px);
  }
  .snackbar-leave-to {
    opacity: 0;
  }
</style>
