<template>
  <div style="display: flex; justify-content: center;">
    <div>
      <br>
      Go look at your Slack Workspace and validate that the bot is now installed.

      <br><br>
      To reset the test
      <ol>
        <li>go to <a href="https://slack.com/apps/A06RMM3L27R-auth-bypass-bot?tab=settings&next_id=0">Slack Apps</a>.</li>
        <li>Navigate to the <strong>Configuration</strong> tab, then scroll to the bottom and click <strong>Remove App</strong>.</li>
        <li>Click Log out below</li>
      </ol>

      <br>
      <div style="text-align: center;">
        <b-button @click="logout">Log out</b-button>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'BypassScreen',

  inject: ['authManager'],

  data() {
    return {};
  },

  methods: {
    logout() {
      this.authManager.logout();
    }
  }
};
</script>

<style lang="scss" scoped>

</style>
