<template>
  <div id="global-container" style="height: 100vh; width: 100vw">
    <div id="scroll-container" class="container-fluid p-0 px-md-3"
      :style="{ 'overflow-y': 'scroll', 'height': height }">
      <div class="content">
        <router-view></router-view>
        <div class="mb-4">&nbsp;</div>
      </div>
      <div id="initial-loader" class="content" v-if="initialLoad">
        <div class="row title">
          <div class="col-sm-12" style="text-align: center">
            <img id="initial-spinner" src="./assets/images/spinner.svg">
            <h3 id="loading-note"></h3>
          </div>
        </div>
      </div>
      <div id="loading-error" class="content" style="display: none">
        <div class="row title">
          <div class="col-sm-12">
            <h2 class="text-danger">There was an issue loading Auth Bypass on your device.</h2>
            <hr class="hr-header" />
          </div>
        </div>
        <br />
        <div class="alert alert-danger">
          <p>An error was encountered while loading.</p>
          <p>Please reload the page or contact us at <a href="mailto:security@rhosys.ch?subject=Unsupported browser">security@rhosys.ch</a></p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'App',

  data() {
    return {
      initialLoad: true
    };
  },

  computed: {
    displayGlobalLoader() {
      return !this.$route.name || this.$store.state.globalLoader;
    },

    height() {
      const footerHeight = this.reportsPage && 80 || this.editStandupPage && 60;
      if (footerHeight) {
        return `Calc(100vh - 64px - ${footerHeight}px)`;
      }

      return 'Calc(100vh - 64px)';
    }
  },

  created() {
    this.initialLoad = false;
  }
};
</script>
